<!DOCTYPE html>
<html>
  <head>
    <title>Successful Registration</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Registered Successfully !!</h1>
    <div>
	       
	</div>
  </body>
</html>